img.houston {
  width: 100%;
  height: auto;
}

img.logo {
    position: relative;
    border-radius: 60%;
    height: 90px;
    top: -50px;
    left: 140px;
    border: 5px solid white;
    margin-bottom: -5%;
}
